In [16]:
import pandas as pd 
import matplotlib.pyplot as plt

In [17]:
df= pd.read_csv("../../res/BTC_daily_historical_data.csv", parse_dates=["Date"], index_col="Date")
df.head(10)

            Close/Last  Volume      Open      High       Low
Date
2025-09-07    111078.0     NaN  110636.0  111343.0  110631.0
2025-09-06    110508.0     NaN  111197.0  110589.0  110186.0
2025-09-05    111052.0     NaN  111311.0  111313.0  110555.0
2025-09-04    111250.0     NaN  111146.0  111484.0  110453.0
2025-09-03    111222.0     NaN  111054.0  112189.0  111217.0
2025-09-02    111116.0     NaN  110325.0  111754.0  110899.0
2025-09-01    110428.0     NaN  107688.0  110600.0  108896.0
2025-08-31    107478.0     NaN  109201.0  108450.0  107408.0
2025-08-30    109347.0     NaN  108435.0  109484.0  108807.0
2025-08-29    108389.0     NaN  111727.0  108424.0  107433.0

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 31 entries, 2025-09-07 to 2025-08-08
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Close/Last  31 non-null     float64
 1   Volume      0 non-null      float64
 2   Open        31 non-null     float64
 3   High        31 non-null     float64
 4   Low         31 non-null     float64
dtypes: float64(5)
memory usage: 1.5 KB
None

# inspecting the data to get an idea of it

In [19]:
print(df.describe())

          Close/Last  Volume           Open           High            Low
count      31.000000     0.0      31.000000      31.000000      31.000000
mean   113871.612903     NaN  114160.774194  114450.096774  113312.612903
std      3793.831201     NaN    3979.280251    3967.496023    3863.892525
min    107478.000000     NaN  107688.000000  108424.000000  107408.000000
25%    111097.000000     NaN  111171.500000  111413.500000  110593.000000
50%    113276.000000     NaN  113532.000000  113644.000000  112343.000000
75%    116931.500000     NaN  116636.500000  117734.000000  116416.000000
max    123361.000000     NaN  123362.000000  124437.000000  123282.000000

In [21]:
print(df.isna().sum())

Close/Last     0
Volume        31
Open           0
High           0
Low            0
dtype: int64

# indexing the data

In [ ]:
closeprices = df["Close/Last"]
print(closeprices.head(10))

Date
2025-09-07    111078.0
2025-09-06    110508.0
2025-09-05    111052.0
2025-09-04    111250.0
2025-09-03    111222.0
2025-09-02    111116.0
2025-09-01    110428.0
2025-08-31    107478.0
2025-08-30    109347.0
2025-08-29    108389.0
Name: Close/Last, dtype: float64

In [ ]:
print(df.loc["2025-08"].head(2))

            Close/Last  Volume      Open      High       Low
Date
2025-08-31    107478.0     NaN  109201.0  108450.0  107408.0
2025-08-30    109347.0     NaN  108435.0  109484.0  108807.0

In [41]:
df_sorted = df.sort_index()
print(df_sorted.loc["2025-08-22":"2025-09-02"])

            Close/Last  Volume      Open      High       Low
Date
2025-08-22    115501.0     NaN  112922.0  117024.0  115455.0
2025-08-23    114979.0     NaN  115563.0  115663.0  114939.0
2025-08-24    113276.0     NaN  115036.0  113665.0  112176.0
2025-08-25    109887.0     NaN  112979.0  110118.0  108768.0
2025-08-26    111657.0     NaN  109877.0  111829.0  110924.0
2025-08-27    111882.0     NaN  111437.0  112015.0  110888.0
2025-08-28    111789.0     NaN  112003.0  112617.0  111332.0
2025-08-29    108389.0     NaN  111727.0  108424.0  107433.0
2025-08-30    109347.0     NaN  108435.0  109484.0  108807.0
2025-08-31    107478.0     NaN  109201.0  108450.0  107408.0
2025-09-01    110428.0     NaN  107688.0  110600.0  108896.0
2025-09-02    111116.0     NaN  110325.0  111754.0  110899.0

In [43]:
# iloc is for indexed location
print(df.iloc[0:5])

            Close/Last  Volume      Open      High       Low
Date
2025-09-07    111078.0     NaN  110636.0  111343.0  110631.0
2025-09-06    110508.0     NaN  111197.0  110589.0  110186.0
2025-09-05    111052.0     NaN  111311.0  111313.0  110555.0
2025-09-04    111250.0     NaN  111146.0  111484.0  110453.0
2025-09-03    111222.0     NaN  111054.0  112189.0  111217.0

In [44]:
df["Daily Returns"] = df["Close/Last"].pct_change()
print(df["Daily Returns"])

Date
2025-09-07         NaN
2025-09-06   -0.005132
2025-09-05    0.004923
2025-09-04    0.001783
2025-09-03   -0.000252
2025-09-02   -0.000953
2025-09-01   -0.006192
2025-08-31   -0.026714
2025-08-30    0.017390
2025-08-29   -0.008761
2025-08-28    0.031368
2025-08-27    0.000832
2025-08-26   -0.002011
2025-08-25   -0.015852
2025-08-24    0.030841
2025-08-23    0.015034
2025-08-22    0.004540
2025-08-21   -0.021628
2025-08-20    0.009610
2025-08-19   -0.005215
2025-08-18    0.012353
2025-08-17    0.002837
2025-08-16    0.019597
2025-08-15    0.000809
2025-08-14    0.011669
2025-08-13    0.037109
2025-08-12   -0.030715
2025-08-11   -0.005896
2025-08-10   -0.006276
2025-08-09    0.000423
2025-08-08   -0.015131
Name: Daily Returns, dtype: float64